<a href="https://colab.research.google.com/github/Afitr06/backpropagatin3/blob/main/predikat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
# import packages
import pandas as pd
import numpy as np

In [62]:
#memasukan data
predikat = pd.read_csv ('data.csv')
predikat
# membaca 5 data

predikat.head()

,NPM,Nama Lengkap,IPK1,IPK2,IPK3,IPK4,IPK5,IPK6,IPK7,IPK8,Status
0,1706003,Adam Fakhrul Rozi,3.04,3.14,2.94,2.93,2.93,2.99,3.02,3.08,L
1,1706004,Rival Firmansyah,3.10,3.10,3.11,3.06,3.08,3.13,3.18,3.25,L
2,1706005,Ihsan Nugraha,3.92,3.89,3.86,3.83,3.86,3.86,3.86,3.87,L
3,1706007,Rizky Safta Maolani,3.57,3.49,3.41,3.35,3.43,3.43,3.45,3.47,L
4,1706009,Abdul Kamaludin,3.10,3.30,3.21,3.25,3.32,3.37,3.39,3.44,L

In [63]:
# melihat data yang akan di gunakan
predikat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NPM           9 non-null      int64
 1   Nama Lengkap  9 non-null      object
 2   IPK1          9 non-null      float64
 3   IPK2          9 non-null      float64
 4   IPK3          9 non-null      float64
 5   IPK4          9 non-null      float64
 6   IPK5          9 non-null      float64
 7   IPK6          9 non-null      float64
 8   IPK7          8 non-null      float64
 9   IPK8          8 non-null      float64
 10  Status        9 non-null      object
dtypes: float64(8), int64(1), object(2)
memory usage: 920.0+ bytes

In [64]:
# menentukan variable
x = predikat.drop(["IPK8"], axis = 1)
x.head()

,NPM,Nama Lengkap,IPK1,IPK2,IPK3,IPK4,IPK5,IPK6,IPK7,Status
0,1706003,Adam Fakhrul Rozi,3.04,3.14,2.94,2.93,2.93,2.99,3.02,L
1,1706004,Rival Firmansyah,3.10,3.10,3.11,3.06,3.08,3.13,3.18,L
2,1706005,Ihsan Nugraha,3.92,3.89,3.86,3.83,3.86,3.86,3.86,L
3,1706007,Rizky Safta Maolani,3.57,3.49,3.41,3.35,3.43,3.43,3.45,L
4,1706009,Abdul Kamaludin,3.10,3.30,3.21,3.25,3.32,3.37,3.39,L

In [66]:
# Menentukan variable independen
y = predikat["IPK8"]
y.head()

0    3.08
1    3.25
2    3.87
3    3.47
4    3.44
Name: IPK8, dtype: float64

In [67]:
# import packages
from sklearn.model_selection import train_test_split

In [68]:
# membagi data training dan data testing
x_train, x_test, y_train, y_test =train_test_split(x, y, test_size=0.20)

In [ ]:
# mengaktifkan packages dan syntax untuk mengubah skala data
from sklearn.preprocessing import StandardScaler

Scaler = StandardScaler()
Scaler.fit(x_train)

x_train = Scaler.transform(x_train)
x_test = Scaler.transform(x_test)

In [71]:
# import packages untuk klasifik
from sklearn.neighbors import KNeighborsClassifier

In [72]:
# fungsi klasifikasi
knn = KNeighborsClassifier (n_neighbors=4)

In [ ]:
# Memasukan data training
knn.fit(x_train, y_train)

In [ ]:
# membentuk predik
y_pren = knn.predict (x_test)
y_pren

In [ ]:
# Membentuk probabilitas
knn.predict_proba(x_test)

In [76]:
# import packages
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
# menampilkan matrix
print(confusion_matrix(y_test, y_pred))

In [ ]:
# ketepatan hasil predik
print(classification_report(y_test, y_pred))

In [79]:
def get_predikat(ipk):
    if ipk >= 3.5:
        return 'Sangat Baik'
    elif 3.0 <= ipk < 3.5:
        return 'Baik'
    elif 2.5 <= ipk < 3.0:
        return 'Cukup'
    else:
        return 'Kurang'