<a href="https://colab.research.google.com/github/Afitr06/backpropagatin3/blob/main/predikat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
# import packages
import pandas as pd
import numpy as np

In [97]:
#memasukan data
predikat = pd.read_csv ('dataset.csv')
predikat
# membaca 5 data

predikat.head(100)

        NIM                        NAMA jk   IPS   IPK
0   1506025   Bagas Sunandar Hamonangan  L  0.00  3.53
1   1506040  Moch.Rifky Chaerul Mutaqin  L  2.71  2.60
2   1506072               Dendi Pratama  L  0.00  2.34
3   1506079            Hani Trismawanti  P  3.25  2.84
4   1506103        Ridwan Muhammad Daud  L  1.29  2.33
..      ...                         ... ..   ...   ...
95  1711073        Martha Puspa Vaniati  P  3.00  3.10
96  1711074         Roby Ramdanur Putra  L  4.00  2.97
97  1711078           Hadi Abdul Hafidz  L   NaN  3.13
98  1711082                   Fedriawan  L   NaN  3.40
99  1711084             Arick Trenggana  L  1.64  2.64

[100 rows x 5 columns]

In [100]:
# melihat data yang akan di gunakan
predikat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NIM     1368 non-null   int64
 1   NAMA    1368 non-null   object
 2   jk      1367 non-null   object
 3   IPS     1310 non-null   float64
 4   IPK     1368 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 53.6+ KB

In [102]:
# menentukan variable
x = predikat.drop(["IPK"], axis = 1)
x.head(100)

        NIM                        NAMA jk   IPS
0   1506025   Bagas Sunandar Hamonangan  L  0.00
1   1506040  Moch.Rifky Chaerul Mutaqin  L  2.71
2   1506072               Dendi Pratama  L  0.00
3   1506079            Hani Trismawanti  P  3.25
4   1506103        Ridwan Muhammad Daud  L  1.29
..      ...                         ... ..   ...
95  1711073        Martha Puspa Vaniati  P  3.00
96  1711074         Roby Ramdanur Putra  L  4.00
97  1711078           Hadi Abdul Hafidz  L   NaN
98  1711082                   Fedriawan  L   NaN
99  1711084             Arick Trenggana  L  1.64

[100 rows x 4 columns]

In [116]:
# Menentukan variable independen
y = predikat["IPK"]
y.head(100)

0     3.53
1     2.60
2     2.34
3     2.84
4     2.33
      ...
95    3.10
96    2.97
97    3.13
98    3.40
99    2.64
Name: IPK, Length: 100, dtype: float64

In [104]:
# import packages
from sklearn.model_selection import train_test_split

In [119]:
# membagi data training dan data testing
x_train, x_test, y_train, y_test =train_test_split(x, y, test_size=0.20)

In [ ]:
# mengaktifkan packages dan syntax untuk mengubah skala data
from sklearn.preprocessing import StandardScaler

Scaler = StandardScaler()
Scaler.fit(x_train)

x_train = Scaler.transform(x_train)
x_test = Scaler.transform(x_test)

In [110]:
# import packages untuk klasifik
from sklearn.neighbors import KNeighborsClassifier

In [111]:
# fungsi klasifikasi
knn = KNeighborsClassifier (n_neighbors=4)

In [ ]:
# Memasukan data training
knn.fit(x_train, y_train)

In [ ]:
# membentuk predik
y_pren = knn.predict (x_test)
y_pren

In [ ]:
# Membentuk probabilitas
knn.predict_proba(x_test)

In [67]:
# import packages
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
# menampilkan matrix
print(confusion_matrix(y_test, y_pred))

In [ ]:
# ketepatan hasil predik
print(classification_report(y_test, y_pred))